.App {
	margin: 0 10px;
}

@media (min-width: 980px) {
	.App {
		margin: 0 auto;
		width: 80%;
		max-width: 1280px;
	}
}

.App-header {
  background-color: #f8f8f8;
  padding: 20px;
  color: #3d464d;
  text-align: center;
  font-size: large;
}

.App-intro {
  margin-top: 40px;
  text-align: center;
}




.App-logo {
	max-width: 320px;
	width: 100%;
}

.footer {
	background-color: rgb(56,170,207);
	color: #222;
	text-align: center;
	padding: 80px 10px 40px;
	margin-top: 80px;
}

.footer a {
	color: #222;
}
